.content{
    display: flex;
 
}
.menu{
    display: flex;
   
}
.item{
    margin-left: auto;
}
.container-fluid{
    margin-right: auto;
}
body{
    background-color:#F7ECDE;
    width: 100%;
    height:100%
}
h1{
    margin-bottom: 60px;
    margin-left: 25%;
    margin-top: 30px;
    color: #764AF1;
    
}
a{
    text-decoration: none;
}

   

img{
    height: 400px;
    width: 100%;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style:groove;
    border-radius: 12%;
}
h2{
    background-color: #610C63;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px!important;
}
.item{
    padding-left: 10px;
    margin-right: 10px;
    margin-left: auto;
}
.container{
    margin-bottom: 100px;
}
.item3{
    margin-left:800px;
    background-color: #4B5D67;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    padding-top: 7px;
}
.item3:hover{
    border: 2px solid;
}
.btn{
    align-items: center;
}
.navbar{
    position: sticky;
    top: 0;
}
p{
    background-color: whitesmoke;
}
.item4{
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 7px;
    background-color: #3C2C3E;

}
.item4:hover{
    border: 2px solid;
}
#ConnectWithus{
    background-color:#BDF2D5 ;
    height: 200px;
    width: 100%;

}
.con{
    margin-bottom: 50px;
    margin-left: 30%;
    margin-top: 30px;
    padding-top: 50px;
}
.last{
    margin-left: 20%;
    padding-left: 50px;
}
.cont{
    display: flex;
    margin-left: 350px;
   
  
}
/* .last1{
    margin-left: 10%;
    padding-left: 20px;
}
.last2 a{
    margin-left: 10px;
} */
h5{
    text-align: center;
    margin-top: 30px;
}
.Hom{
    margin-top: 50px;
    margin-left: 500px;
}